@import './variables.scss';

.App {
	text-align: center;
	background-color: $secondary-color;
	padding: 10px;
	font-family: $font-family-monospace;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#animation-logo {
	order: 2;
}
