$primary-color: #282c34;
$secondary-color: #5a8b99;
$default-text-color: rgb(1, 21, 37);
$default-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-family-monospace: monospace;
$error-color: #a80707;
$button-active-color: #e94e11;
$button-background-color: #021635;
$button-text-color: #ffffff;
$border-color: rgba(0, 0, 0, 0.25);
